{% extends "base.html" %}
{% block content %}

<h3 class="mb-4">Dashboard</h3>

<div class="row g-3">

  <div class="col-md-3">
    <div class="card p-3 shadow-sm text-center">
      <h6>Total clientes</h6>
      <h2>{{ total_clientes }}</h2>
    </div>
  </div>

  <div class="col-md-3">
    <div class="card p-3 shadow-sm text-center">
      <h6>Total pagado</h6>
      <h2>${{ "%.2f"|format(total_pagado) }}</h2>
    </div>
  </div>

  <div class="col-md-3">
    <div class="card p-3 shadow-sm text-center">
      <h6>Total pendiente</h6>
      <h2>${{ "%.2f"|format(total_pendiente) }}</h2>
    </div>
  </div>

  <div class="col-md-3">
    <div class="card p-3 shadow-sm text-center">
      <h6>Desconectado</h6>
      <h2>${{ "%.2f"|format(total_descon) }}</h2>
    </div>
  </div>

</div>

{% endblock %}
