{% extends "base.html" %}
{% block content %}

<h3>Editar cliente</h3>

<form method="post" class="card p-4 shadow">

  <div class="mb-3">
    <label>Nombre</label>
    <input name="nombre" class="form-control" value="{{ c.nombre }}" required>
  </div>

  <div class="mb-3">
    <label>Teléfono</label>
    <input name="telefono" class="form-control" value="{{ c.telefono }}">
  </div>

  <div class="mb-3">
    <label>Plan</label>
    <input name="plan" class="form-control" value="{{ c.plan }}">
  </div>

  <div class="mb-3">
    <label>Costo</label>
    <input name="costo" type="number" step="0.01" class="form-control" value="{{ c.costo }}">
  </div>

  <div class="mb-3">
    <label>Fecha de pago</label>
    <input name="fecha_pago" type="date" class="form-control" value="{{ c.fecha_pago }}">
  </div>

  <button class="btn btn-primary">Actualizar</button>

</form>

{% endblock %}
